.tinynav {
	display: none 
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body{ 
		font-size: 1.2rem;
	}	
	#page{ 
		min-width: 320px;
	}	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#site-navigation > .menu,
	#main,
	#footer-inner{
		width: 100%;
	}
	#masthead-inner,
	#masthead-top-inner{
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 2.8rem);
	}
	#container,
	#primary{
		box-shadow: 0 0 1px red;
		margin-left: calc(-250px);
		margin-right: 1.4rem;
		width: calc(100% - 5.6rem);
	}
	#masthead{
		margin-bottom: 0;
		padding-bottom: 1.4rem;
	}
	#logo{
		text-align: center;
		width: 100%;
	}
	#main{
		margin-bottom: 1.4rem;
		margin-top: 1.4rem;
	}
	#content {
		width: 100%;
	}
	#site-navigation .menu
{
		display: none;	
	}
	#site-navigation{
		background: #111;
		height: 3.5rem;
		padding: 1.4rem;
		text-align: center;
	}
	#s,
	.tinynav { 
		background: #CCC;
		border-radius: .7rem;
		border: solid 1px #111;
		display: inline;
		font-size: 2.1rem;
		padding-bottom: .7rem;
		padding-top: .7rem;
		width: 49%;
	}
	.tinynav:before,
	.tinynav:after{ 
		font-family: 'FontAwesome';
		color:red;
		position: absolute;
		top: 0px;
		left: -5px;
		content: "\f007";
	}

	#sidebar{
		margin-left: calc(-250px + 2.8rem);
		position: relative;
		background-image: url("http://findicons.com/files/icons/1689/splashy/16/arrow_state_grey_expanded.png");
		background-position: top .7rem right .7rem ;
		background-repeat: no-repeat;
		transition: all 0.5s ease;
	}
	#sidebar:hover{
		background-position: top 1.4rem right .7rem ;
	}
	#sidebar .widget{
		transition: all 0.5s ease;
		visibility: hidden;
		opacity: 0;
	}
	.one-half,
	.one-third,
	.one-fourth,
	.span1, .span2, .span3,
	.span4, .span5, .span6,
	.span7, .span8, .span9,
	.span10, .span11, .span12{
		width:100%;
		margin-right: 0;
	}
	[id^="mobile-"]{
		display: inline;
		margin-left: 1.4rem;
	}
	[id^="mobile-"] label{
		cursor: pointer;
	}
	#mobile-search form{
		display: inline;
	}
 	#s{
 		display: none;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#site-navigation > .menu,
	#main,
	#footer-inner{
		width: 100%;
	}
	#masthead-inner,
	#masthead-top-inner{
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 2.8rem);
	}
	#container,
	#primary {
		width: calc(100% - 250px);
	}
	#sidebar {
		width: 250px;
	}
	#content {
		width: calc(100% - 5.6rem);
		margin-right: 2.8rem;
		margin-left: 2.8rem;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	#masthead-inner,
	#masthead-top-inner,
	#site-navigation > .menu,
	#main,
	#footer-inner{
		width: 1180px;
	}
	#sidebar {
		width: 250px;
	}
	#content {
		width: calc(1180px - 2.8rem - 250px);
	}
}

/* Mobile only stuff */
@media (min-width: 768px) {
	.mobile-only{
		display: none;
	}
}
/* Desktop only stuff */
@media (max-width: 767px) {
	.desktop-only{
		display: none;
	}
}
