.tinynav {
	display: none 
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body { 
		font-size: 1.2rem;
	}
	#page { 
		min-width: 240px;
	}	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	body { 
		overflow-x: hidden;
	}
	.boxed #page,
	#page{
		margin: 0;
		width: auto;
	}
	.boxed #site-navigation,
	.boxed .sticky-wrapper,
	.boxed #masthead-top,
	.boxed #masthead-top.stuck,
	.boxed #page,
	#footer,
	#main,
	#site-navigation,
	.sticky-wrapper {
		width: 100%;
	}
	.boxed #footer-inner,
	.boxed #masthead-inner,
	.boxed #masthead-top-inner,
	#footer-inner,
	.menu-wide #masthead-inner,
	.menu-wide #masthead-top-inner,
	#masthead-inner,
	#masthead-top-inner {
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 2.8rem);
	}
	#container,
	#primary {
		margin-left: -250px;
		margin-right: 2.4rem;
		width: calc(100% - 5.6rem);
	}
	.sidebar-none #container,
	.sidebar-none #primary {
		width: calc(100% - 2.8rem);
	}
	.sidebar-after #cozntainer,
	.sidebar-after #primary {
		margin-left: 0;
		margin-right: calc(1.4rem -250px);
	}
	#masthead {
		margin-bottom: 0;
		padding-bottom: 1.4rem;
	}
	#logo {
		text-align: center;
		width: 100%;
	}
	#main {
		margin-bottom: 1.4rem;
		margin-top: 1.4rem;
	}
	.boxed #content,
	.boxed.sidebar-none #content,
	#content,
	.sidebar-none #content {
		width: 100%;
	}
	#site-navigation .menu {
		display: none;	
	}
	#site-navigation,
	#site-navigation.stuck,
	#site-navigation.stuck:hover {
		background: rgb(51, 51, 51);
		height: 3.5rem;
		padding: 1.4rem 0;
		text-align: center;

		height: auto;
		background: rgb(51, 51, 51);
	}
	#s,
	.tinynav { 
		background: #CCC;
		border-radius: .7rem;
		border: solid 1px #111;
		display: inline;
		font-size: 2.1rem;
		padding-bottom: .7rem;
		padding-top: .7rem;
		width: 49%;
	}
	.tinynav:before,
	.tinynav:after { 
		font-family: 'FontAwesome';
		color:red;
		position: absolute;
		top: 0px;
		left: -5px;
		content: "\f007";
	}
	.boxed #sidebar, 
	#sidebar {
		background-image: url("http://findicons.com/files/icons/1689/splashy/16/arrow_state_grey_expanded.png");
		background-position: top .7rem right .7rem ;
		background-repeat: no-repeat;
		left: calc(-250px + 2.8rem);
		margin-left: 0;
		position: absolute;
		transition: all .2s ease;
		z-index: 50;
	}
	#sidebar.expanded {
		background-image: none;
		left: 0;
	}
	.boxed.sidebar-after #sidebar,
	.sidebar-after #sidebar {
		background-position: top .7rem left .7rem ;
		left: auto;
		margin-right: 0;
		right: calc(-250px + 2.8rem);
	}
	.boxed.sidebar-after #sidebar.expanded,
	.sidebar-after #sidebar.expanded {
		right: 0;
	}
	#sidebar:hover {
		background-position: top 1.4rem right .7rem ;
	}
	.sidebar-after #sidebar:hover {
		background-position: top 1.4rem left .7rem ;
	}
	#sidebar .widget {
		transition: all .2s ease;
		visibility: hidden;
		opacity: 0;
	}
	#sidebar.expanded .widget {
		visibility: visible;
		opacity: 1;
	}
	.one-half,
	.one-third,
	.one-fourth,
	.span1, .span2, .span3,
	.span4, .span5, .span6,
	.span7, .span8, .span9,
	.span10, .span11, .span12 {  
		width:100%;
		margin-right: 0;
	}
	[id^="mobile-"]{
		display: inline;
		margin-left: 1.05rem;
	}
	[id^="mobile-"] label {
		cursor: pointer;
	}
	#mobile-search form {
		display: inline;
	}
 	#s {
 		display: none;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	.boxed #page,
	#page{
		width: auto;
	}
	.boxed #masthead-top,
	.boxed #masthead-top.stuck,
	.boxed #page,
	.boxed #site-navigation,
	.boxed .sticky-wrapper,
	#footer,
	#main,
	#site-navigation,
	.sticky-wrapper {
		width: 100%;
	}
	.boxed #page,
	#page {
		margin: 0;
	}
	#container,
	#primary {
		width: calc(100% - 250px);
	}
	.boxed #content,
	.boxed #footer-inner,
	.boxed #site-navigation > .menu,
	#content,
	#footer-inner,
	#site-navigation > .menu {
		width: calc(100% - 2.8rem);
	}
	.boxed #masthead-inner,
	.boxed #masthead-top-inner,
	.menu-wide #masthead-top-inner,
	#masthead-top-inner
	#masthead-inner,
	.menu-wide #masthead-inner,
	#masthead-top-inner {
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 2.8rem);
	}

	#site-navigation li a {
		padding-left: 1.4rem;
		padding-right: 1.4rem;
	}
	/* Todo: is this doing anything actually */
	body:not(.menu-wide) #site-navigation .menu > li.none:first-child ~ li:nth-child(2) a,
	body:not(.menu-wide) #site-navigation .menu > li:not(.none):first-child a {
		padding-left: 0rem;
	}
	.sidebar-none #container,
	.sidebar-none #primary {
		width: calc(100% - 2.8rem);
	}
	.boxed #sidebar,
	.boxed.sidebar-after #sidebar,
	#sidebar {
		width: 250px;
		margin: 0;
	}
	#content {
		margin-right: 1.4rem;
		margin-left: 1.4rem;
	}
	.sidebar-none #content {
		width: 100%;
	}
}

/* Large desktop */
@media (min-width: 1200px) {

	/* Widths */ 
	#footer,
	#masthead,
	.menu-wide #masthead-top,
	.menu-wide #site-navigation,
	.menu-wide .sticky-wrapper,
	#page {
		width: 100%
	}
	.boxed #masthead-top,
	.boxed #masthead-top.stuck,
	.boxed #page,
	.boxed #site-navigation,
	.boxed .sticky-wrapper,
	#footer-inner,
	#main,
	#masthead-inner,
	#masthead-top,
	.menu-wide #masthead-top-inner,
	.sidebar-none #content,
	#site-navigation,
	#site-navigation .menu,
	.sticky-wrapper {
		width: 1140px;
	}
	#content {
		width: calc(1140px - 250px - 2.8rem);
	}
	.boxed #content {
		width: calc(1140px - 5.6rem - 250px);
	}
	.boxed #site-navigation .menu,
	.boxed #masthead-inner,
	.boxed #footer-inner,
	#masthead-top-inner,
	.boxed.menu-wide #masthead-top-inner {
		width: calc(1140px - 2.8rem);
	}
}

/* Mobile only stuff */
@media (min-width: 768px) {
	.mobile-only {
		display: none;
	}
}

/* Desktop only stuff */
@media (max-width: 767px) {
	.desktop-only {
		display: none;
	}
}
